/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  position: relative;
  padding: 0;
  width: 100%;
}

body {
  background-color: #F5F5F6;
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
  padding: 0.9em 1em;
  display: block;
  border-radius: 0.3em;
  position: relative;
  width: 9em;
  transition-property: background-color, opacity, color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}



button:hover, button:focus, button.is--active {
  background-color: #6C45E0;
  outline: none;
  color: #fff;
  transition-duration: 0.2s;
}

button:active {
  outline: none;
  background-color: #b9b9b9;
}

button:disabled {
  opacity: 0.3;
  transition-duration: 0.2s;
  pointer-events: none;
}

input, label {
  position: relative;
  display: block;
}

input {
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}